/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
.DS_Store/*
/storage/debugbar
/storage/media-library/
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

public/file/service-account-file.json

?????.md
